@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@400;700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'inter';
    
}
.header {
    margin-top: .5em;
    margin-left: .5em;
    .logo{
        display: inline-block;
        position: relative;
        .logo-char{
            display: inline-block;
            position: relative;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: #458FF6;
            p {
                color: white;
                margin-top: 5px;
                //position: flex;
                display: block;
                text-align: center;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 33px;
            }
        }

        .logo-name {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: #233348;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 100%;
        }
    }
    .container{
        display: flex;
        place-content: space-between;
    }
    .menu{
        margin-right: 1em;
        cursor: pointer;
    }
    nav{
        display: none;
    }
}
nav {
    position: fixed;
    background: #458FF6;
    height: 100vh;
    width: 50vh;
    z-index: 9999;
    right: 0;
    top: 0;
    ul {
        margin-top: 3em;
        list-style: none;
        line-height: 3em;
    }
    img {
        float: right;
        margin: 1em;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        display: block;
        color: white;

    }
}

nav.add-nav{    
    display: block;
}
.hero{
    display: block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 5em;
    .left-col{
        p {
            width: 18em;
            color: #7D7987;
            margin-left: auto;
            margin-right: auto;
        }
        .hero-btn{
            margin-bottom: 5em;
            background-color: #458FF6;
            color: white;
            border-radius: 5em;
            text-align: center;
            border-width: 0px;
            width: 12em;
            height: 3.5em;
            font-weight: bold;
        }
    }
    img {
        width: 70%;
    }
}
.our-services {
    margin-top: 5em;
    display: block;
    text-align: center;
    .main-txt{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .svg-bg {
        position: absolute;
        z-index: -1;
        width: 90%;
        transform: rotate(20deg);
        left: 0;
        margin-left: -3em;
    }
    li {
        width: 70%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        p{
            color: #7D7987;
        }

        border-radius: 2em;
        height: 22em;
        width: 22em;
        svg {
            margin-top: 2em;
            margin-bottom: 2em;
            margin-left: 2em;

        }
        h2, p {
            text-align: left;
            margin-left: 20px;
        }

    }
    ul  {
        //background: #F2F2F2;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;

    }
    svg {
        width: 20%;
    }
    .learn-more1 {
        border-color: #458FF6;
        color: #458FF6;
        background: white;
        border-radius: 5em;
        text-align: center;
        border-width: 1px;
        width: 12em;
        height: 3.5em;
        margin-bottom: 5em;
    }

}

.Leading-healthcara {
    margin-top: 2em;
    margin-bottom: 5em;
    display: block;
    text-align: center;
    p {
        width: 18em;
        color: #7D7987;
        margin-left: auto;
        margin-right: auto;
    }
    .learn-more2 {
        border-color: #458FF6;
        color: #458FF6;
        background: white;
        border-radius: 5em;
        text-align: center;
        border-width: 1px;
        width: 12em;
        height: 3.5em;
        margin-bottom: 5em;
    }
    img {
        width: 70%;
    }
}

.app-download {
    margin-top: 2em;
    margin-bottom: 5em;
    display: block;
    text-align: center;
    p {
        width: 18em;
        color: #7D7987;
        margin-left: auto;
        margin-right: auto;
    }
    .download-btn {
        display: fl;
        border-color: #458FF6;
        color: #458FF6;
        background: white;
        border-radius: 5em;
        text-align: center;
        border-width: 1px;
        width: 12em;
        height: 3.5em;
        margin-bottom: 5em;
        svg {
            height: .7em;
            margin-left: .7em;
        }
    }
    img {
        width: 70%;
    }
}

.articles {
    margin-top: 2em;
    margin-bottom: 5em;
    display: block;
    text-align: center;
    li {
        //width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
        margin-top: 5em;
        //text-align: left;
        //background: rgb(172, 172, 172);
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        img {
            //margin-top: 2em;
            //display: block;
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
            object-fit: cover;
            width: 100%;
            height: 10em;
        }
        a {
            margin-top: -9em;
            margin-left: 1em;
            text-align: left;
        }
        p{
            color: #7D7987;
            text-align: center;
        }
        border-radius: 2em;
        height: 25em;
        width: 22em;
        svg {
            margin-top: 2em;
            //margin-bottom: 2em;
            margin-left: 2em;

        }
        h2 {
            //left: 0;
            margin-left: 0em;
            text-align: center;
        }
        p {
            //left: 0;
            //margin-left: 1.5em;

        }

    }
    ul  {
        //background: #F2F2F2;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;

    }
    svg {
        width: 20%;
    }
    p {
        width: 18em;
        color: #7D7987;
        margin-left: auto;
        margin-right: auto;
    }
    .view-btn {
        border-color: #458FF6;
        color: #458FF6;
        background: white;
        border-radius: 5em;
        text-align: center;
        border-width: 1px;
        width: 12em;
        height: 3.5em;
        margin-bottom: 5em;
    }
}

.footer{
    background-image: linear-gradient(#67C3F3, #5A98F2);
    width: 100%;
    display: block;
    .footer-group{
        width: 85%;
        margin-top: 3em;
        margin-left: 2em;
        text-align: center;
        justify-content: center;
        .footer-logo-char{
            margin-top: 3em;

            display: inline-block;
            position: relative;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: white;
            p {
                color: #5B9BF3;
                margin-top: 5px;
                //position: flex;
                display: block;
                text-align: center;
                font-family: 'Muli';
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 33px;
            }
        }
        .footer-logo-name {
            text-decoration: none;
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 100%;
        }
        .detials, .copyright {
            display: inline-block;
            color: white;
            width: 24.4em;
        }
    
        .footer-lists {
            margin-top: 0;
            list-style: none;
            color: white;
            display: inline-flex;
            width: 100%;
            //display: block;
            justify-content: space-between;
            text-align: center;
            padding: 0;
            margin: 0;
    
            .company-about, .footer-region, .footer-help{
                margin-top: 0;
                list-style: none;
                line-height: 38px;
                //width: 10em;
                //padding-left: 3em;
                //padding-right: 0;
    
            }
            .footer-help{
                //padding-right: auto;
            }
            .company-about{
                padding-left: 0em;
                //padding-right: 0;
            }
            .company, .region, .help{
                font-weight: bold;
                line-height: 60px;
            }
        }
    }
    
}
@media only screen and (min-width: 770px) {
    .menu, .exit {
        display: none;
    }
    .header, .container{
        display: flex;
        //grid-template-columns: 180px auto;
        justify-content: space-between;
        
    }

    .container {
        width: 100%;

    }
    .header nav{
        display: flex;
        justify-content: space-between;
        background: none;
        height: auto;
        width: 60vh;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        right:  0;
        ul {
            .list-bo {
                font-weight: bold;
            }
            display: flex;
            margin-top: 0;
            padding-top: 0;
            margin-left: 0;
            padding-left: 0;

            a{
                color: #233348;
                padding: .1em 1em;
            }
        }
    
    }

}
@media only screen and (min-width: 1080px) {
    body {
        //width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        .left-col{
            text-align: center;
            
        }
        
    }
    .our-services{
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        ul {
            display: flex;
            justify-content: center;
        }
    }
    .Leading-healthcara {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 50%;
        }
    }
    .app-download {
        display: flex;
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row-reverse;
        width: 60vh;
        .left-side{
            width: 50%;
        }
        img {
            width: 50vh;
        }
    }
    .articles{
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        ul{
            display: flex;
        }
    }
    .footer {
        //width: auto ;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-group{
        display: flex;
        margin-top: 7em;
        margin-left: 11.5em;
        .footer-logo-char{
            display: inline-block;
            position: relative;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: white;
            p {
                color: #5B9BF3;
                margin-top: 5px;
                //position: flex;
                display: block;
                text-align: center;
                font-family: 'Muli';
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 33px;
            }
        }
        .footer-logo-name {
            text-decoration: none;
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 100%;
        }
        .detials, .copyright {
            color: white;
            width: 24.4em;
        }
        .footer-lists {
            margin-top: 0;
            list-style: none;
            color: white;
            display: inline-flex;
            width: 100%;
            .company-about, .footer-region, .footer-help{
                margin-top: 0;
                list-style: none;
                line-height: 38px;
                width: 15em;
            }
            .company, .region, .help{
                font-weight: bold;
                line-height: 60px;
            }
        }
    }
}

